[Unit]
Description=Variflight Feeder
After=network-online.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/vffeeder
User=vffeeder
Group=vffeeder

[Install]
WantedBy=multi-user.target